/* || general styles */
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

body {

}

h1, h2 {
  font-family: Helvetica, sans-serif;
}

/* header styles */

h1 {
  font-size: 4rem;
  text-align: center;
  position: fixed;
  color: white;
  display: none;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  position: fixed;
  color: white;
  display: none;
}

/* section styles */

section article {
  width: 100%;
    height: 100vh;
  display: flex;

}

iframe {
  width: 50vw;
  height: 100%;
  float: left;
}

.note {
  width: 50vw;
  display: flex;
}

section p {
  top: 30%;

  font-size:4rem;
  font-weight: bold;
  text-align: center;
  margin : 20px;
}



h2 {
  font-size: 2.5rem;
  letter-spacing: -2px;
  margin-bottom: 10px;

}
